
  .login{
 
  background: url('https://images.pexels.com/photos/3800060/pexels-photo-3800060.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940&fbclid=IwAR3bJXxf9jQOX9JMy3sShtq_SbxOQ6l71jHl7mbQ1oiWCtF7-9wcAnXYgGk');
  background-repeat: no-repeat;
  background-size: cover;
}
